.logo{
  float: left;
  width: 15%;
}

.logo a img{
  width: 100%;
}

.menu {
  float: left;
  width: 70%;
  margin: 0;
  text-align: center;
}

ul.menu li { 
  display: inline-block;
}

ul.menu li a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 1em 3em;
  font-size: 1.5em;
  
}

ul.menu li :hover {
  background: #555 ;
}

.account{
  float: right;
  margin: 0 ;
  width: 15%;
}

ul.account li{
  display: inline-block;
  width: 25%;
  margin:1em;
}

ul.account li a.logout {
  background: url("../img/logout1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  padding: 1.8em 0.5em;
}

ul.account li a.logout:hover {
  background: url("../img/logout2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul.account li a.accountIcon {
  background: url("../img/account.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  padding: 1.5em 0.5em;
  border-radius:4em;
  border: solid 3px #FFF;
  
}

#son {
  display: none;
  width: 50%;
  margin: 0 25%;
  position: absolute;
  top: 10%;
  background: rgba(150,150,150,0.8);
  border-radius: 2em;
  border: 3px solid #fff;
  z-index: 10;
}

#son ul{
  float: left;
  width: 30%;
  list-style: none;
  text-align: center;
}


#son ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 1px 1px 20px black;
}

#son ul li a:hover {
  color: blue;
}
