.logo{
  float: left;
  width: 15%;
}

.logo a img{
  width: 100%;
}

.menu {
  float: left;
  margin: 0 0 0 17%;
}

ul.menu li { 
  display: inline-block;
}

ul.menu li a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 1em 3em;
  font-size: 1.5em;
  
}

ul.menu li :hover {
  background: #555 ;
}

.account{
  float: right;
  margin: 0 ;
  width: 15%;
}

ul.account li{
  display: inline-block;
  width: 25%;
  margin:1em;
}

ul.account li a.logout {
  background: url("../img/logout1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  padding: 1.8em 0.5em;
}

ul.account li a.logout:hover {
  background: url("../img/logout2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul.account li a.accountIcon {
  background: url("../img/account.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  padding: 1.5em 0.5em;
  border-radius:4em;
  border: solid 3px #FFF;
  
}
