<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>theWaster</title>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.css>
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/form.css' %}">
<link rel="stylesheet" href="{% static 'main/css/misc.css' %}">
</head>
<body>
  <div id="logo">
    <img src="{% static 'main/img/theWaster.gif' %}">
  </div>
  
  <div id="bullectin" class='width60 floatLeft'>
    <h2>公告:</h2>
    <ul>
      <li>是公告</li>
      <li>是公告是公告是公告</li>
      <li>是公告</li>
    </ul>
  </div>
  
  <div id="mainform" class='width40 floatLeft form' >
    <form method="post" action="/account/login/">
      <p>帳號：<input type="text" name="username"></p>
      <p>密碼：<input type="password" name="password"></p>
      <p><input class="btn" type="submit" value="登入"></p>
      <div class=clear></div>
    </form>
  </div>
  <!-- try -->
  <div class=clear></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'main/js/fullDiv.js' %}"></script>
</body>
</html>
