{% extends "main/templates.html" %}
{% load staticfiles %}
{% block css %}
<link rel=stylesheet href="{% static 'edition/css/sort.css' %}">
{% endblock %}
{% block content %}
  <a href="{% url 'edition:sortCreate' %}">新增類別</a> 
  <a href="{% url 'edition:editionCreate' %}">新增版</a> 
  {% for sort in SORT %}
  <p>{{ sort.sort }}</p>
    {% for edition in EDITION %}
      {% if edition.sort == sort %}
      <p>{{ edition.edition }}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}